.offers-list-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.right-section {
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
}

.offers-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5rem;
}

mat-grid-list {
  width: 100%;
}

.search-field {
  height: 65px;
  width: 260px;
}

.search-bar {
  position: absolute;
  top: 1rem;
  right: 0;
}

.paginator-wrapper {
  margin-top: 14px;
  position: absolute;
  top: 100%;
  left: 30%;
}

.paginator{
  font-size: medium;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.page-number {
  position: absolute;
  top: 3px;
  left: 10%;
}

.page-size {
  margin-right: 30px;
}
