.filters-container {
  width: 11rem;
  border-radius: 0 0 10px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem 0.6rem 1rem 0;
}

.filters-header {
  margin: 10px;
}

.filters-title {
  font-size: 22px;
  margin-left: 10px;
}

.filters-btn {
  border-radius: 10px;
  border: 1px solid #bebebe;
  background-color: #e9e9e9;
}

.filters-body {
  border-radius: 0 10px 10px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.filter-wrapper{
  margin-top: 20px;
  padding: 0.6rem;
}

.filter-label {
  margin-bottom: 15px;
}

.price-slider {
  width: 90%;
}

.price-values {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 14px;
}

.start-date-wrapper {
  margin-bottom: 15px;
}

.date-wrapper {
  padding: 0 0 5px 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

.date-input {
  width: 90%;
  border: transparent;
  cursor: default;
  font-size: 12px;
}

.available-spots-text {
  font-size: 12px;
  color: #3f3f3f;
}

.lower-buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.lower-section-btn {
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0 20px 0 20px;
}

.apply-btn {
  background-color: #313178;
}
