<app-nav-bar></app-nav-bar>
<div class="details-container" *ngIf="offer.imageUrls && offer.imageUrls.length > 0">
  <div class="first-section">
    <c-carousel [animate]="false" [interval]="0">
      <c-carousel-inner>
        <c-carousel-item *ngFor="let image of offer.imageUrls">
          <img
            [src]="image"
            alt="offer image"
            class="d-block w-100 carousel-image"
            loading="lazy" />
        </c-carousel-item>
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-control direction="prev" class="left-arrow">
          <mat-icon aria-hidden="false" fontIcon="keyboard_arrow_left"></mat-icon>
        </c-carousel-control>
        <c-carousel-control direction="next" class="right-arrow">
          <mat-icon aria-hidden="false" fontIcon="keyboard_arrow_right"></mat-icon>
        </c-carousel-control>
      </c-carousel-inner>
    </c-carousel>
    <div class="offer-info">
      <h2 class="offer-title">{{ offer.title }}</h2>
      <div class="offer-line">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#000000" d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
        <span class="small-text">Location:</span>
        <p>{{ offer.location }}</p>
      </div>
      <div class="offer-line">
        <svg  class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 500"><path d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H64C28.7 64 0 92.7 0 128v16 48V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V192 144 128c0-35.3-28.7-64-64-64H344V24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H152V24zM48 192H400V448c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V192z"/></svg>
        <span class="small-text">Period:</span>
        <p class="period">{{ offer.startDate }} - {{ offer.endDate }}</p>
      </div>
      <div class="offer-line">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3zM609.3 512l-137.8 0c5.4-9.4 8.6-20.3 8.6-32l0-8c0-60.7-27.1-115.2-69.8-151.8c2.4-.1 4.7-.2 7.1-.2l61.4 0C567.8 320 640 392.2 640 481.3c0 17-13.8 30.7-30.7 30.7zM432 256c-31 0-59-12.6-79.3-32.9C372.4 196.5 384 163.6 384 128c0-26.8-6.6-52.1-18.3-74.3C384.3 40.1 407.2 32 432 32c61.9 0 112 50.1 112 112s-50.1 112-112 112z"/></svg>
        <span class="small-text">Spots available: </span> {{ offer.availableSpots }}
      </div>
      <p class="small-text">Price per person:</p>
      <div class="price-and-reservation">
        <div class="price-box"><span class="price-text">{{ offer.price }} €</span></div>
        <button class="reservation-btn" mat-button *ngIf="isUserLoggedIn && offer.availableSpots > 0"
                (click)="navigateToMakeReservation()">Reserve!</button>
        <button class="reservation-btn unavailable" mat-button *ngIf="!isUserLoggedIn  && offer.availableSpots > 0">
          Log in or sign up for reservation</button>
        <button class="reservation-btn unavailable" mat-button *ngIf="offer.availableSpots <= 0">
          Sold out</button>
      </div>
    </div>
  </div>
  <div class="second-section">
    <h3>Offer description:</h3>
    <div class="offer-description">{{ offer.description }}</div>
  </div>
</div>
