.recommendations-container {
  margin-top: 2rem;
  position: relative;
}

h2 {
  color: #313178;
  margin-left: 2rem;
}

mat-icon {
  color: #313178;
  font-weight: bold;
  transition: all 0.5s ease;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 0.5%;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 0.5%;
}
