mat-card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 50%;
  margin-top: 20px;
}

.reservation-info {
  display: flex;
  flex-direction: row;
}

.first-section, .second-section, .third-section {
  margin-right: 10px;
}

mat-card-content mat-card-title{
  font-size: 20px;
  font-weight: lighter;
}

.first-section {
  width: 200px;
  color: #313178;
}

.second-section {
  width: 130px;
}

.third-section {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 30%;
}

.traveler-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: lighter;
  max-width: 200px;
}

mat-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

.icon {
  width: 25px;
  height: 25px;
  fill: #313178;
}

h3 {
  margin: 0 0 10px 0;
  font-weight: normal;
}

.offer-title {
  text-decoration: underline;
}

.second-section-line {
  margin-bottom: 20px;
}

.offer-title, img {
  cursor: pointer;
}
