<app-nav-bar></app-nav-bar>
<form [formGroup]="registrationForm" class="registration-form">
  <img src="assets/travelwise-reg.png" alt="registration image"/>
  <div class="form-content">
    <div class="reg-part first-part">
      <mat-form-field>
        <mat-label>First name:</mat-label>
        <input matInput formControlName="firstName" required/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Repeat Password:</mat-label>
        <input matInput [type]="hideRepPassword ? 'password' : 'text'" formControlName="repPassword" required>
        <button mat-icon-button matSuffix (click)="hideRepPassword = !hideRepPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepPassword">
          <mat-icon>{{hideRepPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="registrationForm.hasError('passwordsMismatch')">
          Passwords should match
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required/>
        <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="registrationForm.get('email')?.hasError('emailExists')">
          User with this email already exists
        </mat-error>
      </mat-form-field>
    </div>
    <div class="reg-part second-part">
      <mat-form-field>
        <mat-label>Surname:</mat-label>
        <input matInput formControlName="surname" required/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Birthdate</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthdate" readonly>
        <mat-hint>Pick from the calendar</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone number:</mat-label>
        <input matInput formControlName="phoneNumber"/>
        <mat-error *ngIf="registrationForm.get('phoneNumber')?.hasError('invalidPhone')">
          Invalid phone number format
        </mat-error>
      </mat-form-field>
      <div class="picture-section">
        <label>Upload profile picture</label><br>
        <input type="file" accept="image/png, image/jpeg, image/jpg" (change)="onFileChange($event)"/>
      </div>
    </div>
  </div>
  <button mat-button class="submit-btn" (click)="handleFormSubmission()">Submit</button>
</form>
