.card-disabled {
  background-color: #f5f5f5;
  color: #9e9e9e;
  pointer-events: none; /* Disable interactions */
  filter: grayscale(100%);
}

.card-disabled img {
  opacity: 0.5; /* Dim the image */
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-width: 320px;
  max-width: 350px;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  transition: transform 0.9s ease;
}

mat-card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensures the image covers the available space */
  max-height: 260px;
}

mat-card-content {
  padding: 16px;
  flex-grow: 1; /* Ensures the content takes available space */
  display: flex;
  flex-direction: column;
  min-height: 240px;
}

.card-line {
  margin-top: 8px;
}

.location-icon {
  color: #313178;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 4px;
}
