<mat-card [routerLink]="offer.availableSpots > 0 ? ['/offer-details', offer.id] : null"
          [ngClass]="{ 'card-disabled': offer.availableSpots === 0 }">
  <img class="card-image" [src]="offer.imageUrls && offer.imageUrls.length > 0 ? offer.imageUrls![0] : 'assets/no-photo.png'" alt="offer image">
  <mat-card-content>
    <mat-card-title>{{ offer.title }}</mat-card-title>
    <div class="card-line">{{ offer.price }} BGN</div>
    <div class="card-line">
      <svg class="location-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#000000" d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
      <span>{{ offer.location }}</span>
    </div>
    <div class="card-line">{{ offer.startDate }} - {{ offer.endDate }}</div>
    <div class="card-line">Spots available: {{ offer.availableSpots }}</div>
  </mat-card-content>
</mat-card>
