.home-page-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.image-container {
  flex-grow: 1;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.home-page-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Arial, serif;
  text-align: center;
}

.head-message {
  font-weight: bold;
  font-size: 42px;
  margin: 0;
}

.sign-up-text {
  font-size: 23px;
  font-family: "Calibri Light", serif;
}

.home-page-message .sign-up-btn {
  margin-top: 30px;
  background: #313178;
  color: white;
  font-size: 20px;
  padding: 30px 20px;
}

.log-in-wrapper {
  padding-top: 30px;
}

.log-in-message {
  font-size: 20px;
}

.home-page-message .log-in-btn {
  color: white;
  font-size: 20px;
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
}
